.container {
  position: relative;
  width: 100%;
}

.timeline {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  background-color: #f1f1f1;
  cursor: pointer;
}

.scrubber {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
}

.media-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.media-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media {
  display: none;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  width: 100vw;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media.active {
  display: block;
}

.timeline.dragging .scrubber {
  opacity: 1;
}

.timeline:hover .scrubber {
  opacity: 1;
}

.timeline.dragging .media-container video {
  /* pointer-events: auto; */
}

.timeline:hover .media-container video {
  /* pointer-events: auto; */
}
